.common-input {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: border 0.2s ease-in-out;
    resize: both;
  }
  
  .common-input::placeholder {
    color: #aaa;
  }
  
  /* Focus state */
  .common-input:focus {
    border-color: #2563eb; /* Blue border on focus */
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
  }
  
  /* Labels */
  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 8px;
  }
  form h6 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #111827;
  }
  .btn-main {
    background-color: #2563eb;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn-main:hover {
    background-color: #1e40af;
  }
  
  

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .col-sm-6 {
    width: 100%;
  }
  
  @media (min-width: 576px) {
    .col-sm-6 {
      width: calc(50% - 8px);
    }
  }
  
  .col-sm-12 {
    width: 100%;
  }
  


